body {
	padding: 0;
	margin: 0;
	font-family: "Arial", Serif;
	background-color:#fff;
	overflow-x: hidden;
}

.navbar {
	background-color:#FFC32B;
	overflow: hidden;
	height: 55px;
	width: 100%;
	position: center;
}

.navbar a{
	float: left;
	display: block;
	color: #FFC32B;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nnavbar ul{
	margin: 8px 0 0 0;
	list-style: none;
}

.navbar a:hover{
	background-color: #000;
}

.side-nav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	transition: 0.3s;
}

.side-nav a:hover{
	color: #fff;
}

.side-nav .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}

#main{
	height: auto;
	transition:margin-left 0.5s;
	padding: 5px;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.box {
	margin: 2px;
	height: 250px;
	width: auto;
	overflow: hidden;
	background-color: #1E1B18;
	border: 2px solid #000;
}

.box > img {
    display: block;
    height: inherit;
    margin: auto;
}

.footer{
	height: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFC32B;
	text-align: center;
	font-size: 15px;
	padding: auto;
	color: #39404B;
}

/*@media(max-width: 568px){
	.navbar-nav{display: none;}
}

@media(min-width: 568px){
	.open-slide{display: none;}
} */