/*==============================
			CSS RESET
==============================*/

html {
	font-family: 'Helvetica';
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: white;
}

img {
	width: 100px;
	height: 100%;
}


/*==============================
		TOEGANKELIJKHEID
==============================*/

/* TEKST VOOR DIGITALE SCHERMLEZERS */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/*==============================
			TYPOGRAFIE
==============================*/


body,
button,
input,
select,
textarea {
	color: rgb(237,125,49);
	font-family: 'Helvetica';
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 10px 0;
}

p {
	margin: 0;
	padding: 10px 0;
}

textarea {
    resize: horizontal;
    max-width: 75%;
    }

textarea:active {
    width: auto;   
    }

textarea:focus {
    min-width: 50%;
    }

/*==============================
		ADMIN STIJLEN
==============================*/



.pagina-welkom {
	text-align: center;
	color: rgb(34,42,53);
	margin: 0;
	padding: 0;
}

.pagina-welkom1 {
	text-align: justify;
	color: rgb(34,42,53);
	margin: 0;
	padding: 50px 0 0 0;
}

.overig, .delete, .update, .create {
	text-align: center;
	border: 1px solid rgb(237,125,49);
	padding: 10px;
}

/*==============================
		FOOTER STIJL
==============================*/

.footer {
	text-align: center;
	color: rgb(34,42,53);
	padding: 0;
}

.footer > a {
	text-decoration: none;
	color: rgb(34,42,53);
}

/*==============================
		VOORPAGINA STIJL
==============================*/

.pagina {
	margin: auto;
	width: auo;
	text-align: center;
	display: block;
}

.container ul{
	list-style: none;
	margin: 0%;
	padding: 0%;
}

.container ul li{
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: black;
	font-size: 18px;
}

.img {
	width: 75px;
	height: 75px;
}

.container #list{
	display: none;
}

.container ul li:hover > #list{
	display: block;
}

.container ul li:hover{
	background-color: ;
}

/*--------------------------------------------------------------
						OVERZICHTPAGINA OPMAAK
--------------------------------------------------------------*/

.login-knop {
	text-align: center;
}

.login-knop > a {
	text-decoration: none;
	color: rgb(34,42,53);
}

/*--------------------------------------------------------------
						LOGINPAGINA OPMAAK
--------------------------------------------------------------*/

.loginpagina {
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	height: auto;
}

/*--------------------------------------------------------------
						DED PAGINA OPMAAK
--------------------------------------------------------------*/

.dedmain {
	text-decoration: none;
}

.list {
	height: 250px;
	width: 100%;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.page-title,
  	.main-content,
  	.sidebar {
		max-width: 50em;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  @media screen and (min-width: 1024px) {
    
  	.adminpagina {
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
  	grid-template-rows: 10% 400px 400px 10%;
  	grid-template-areas:
    "opvulling bovenkant bovenkant opvullingA"
    "opvulling vakA vakB opvullingA"
    "opvulling vakC vakD opvullingA"
    "opvulling onderkant onderkant opvullingA";
	}
    
    .pagina-welkom {
      grid-area: bovenkant;
    }
    
    .create {
      grid-area: vakA;
    }

    .update {
      grid-area: vakB;
    }

    .delete {
      grid-area: vakC;
    }

    .overig {
      grid-area: vakD;
    }
    
    .footer {
      grid-area: onderkant;
    }

    .white {
    	grid-area: opvulling;
    }

    .white2 {
    	grid-area: opvullingA;
    }
    
	}
  
  @media screen and (min-width: 1980px) {
    .adminpagina {
	grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
    "content-head content-head content-head"
    "main header header"
    "main sidebar footer";
	}
  }
}

@supports (display: grid) {
  @media screen and (min-width: 1024px) {
    
  	.mainsite {
	display: grid;
	grid-template-columns: 20% 30% 30% 20%;
  	grid-template-rows: 20% 150px 150px 150px 10%;
  	grid-template-areas:
    "opvulling bovenkant bovenkant opvullingA"
    "opvulling vakA vakA opvullingA"
    "opvulling vakA vakA opvullingA"
    "opvulling vakA vakA opvullingA"
    "opvulling onderkant onderkant opvullingA";
	}
    
    .pagina-welkom1 {
      	grid-area: bovenkant;
    }
    
    .pagina {
      	grid-area: vakA;
    }

    .footer {
      	grid-area: onderkant;
    }

    .white {
    	grid-area: opvulling;
    }

    .white2 {
    	grid-area: opvullingA;
    }
    
	}
  
  @media screen and (min-width: 1980px) {
    .mainsite {
	grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
    "content-head content-head content-head"
    "main header header"
    "main sidebar footer";
	}
  }
}